<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shortener</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><i class="glyphicon glyphicon-scissors"></i> @Html.ActionLink("Shortener ", "Create", "Home", new { area = "" }, new {style = "text-decoration: none" })</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active">@Html.ActionLink("Create new ", "Create", "Home", new {area = ""}, null)</li>
                            <li>@Html.ActionLink("About Me ", "AboutMe", "Home", new { area = "" }, null)</li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <!--<h1 class="cover-heading">Make your url shorter.</h1>-->
                <!--<p class="lead">Click on "Create" button to create new short redirect url.</p>-->
                <!--<p class="lead">-->
                <!--<a href="#" class="btn btn-lg btn-default">Create</a>-->
                <!--</p>-->

                @RenderBody()

            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Created with <a href="http://asp.net">ASP.NET MVC</a> & <a href="http://getbootstrap.com">Bootstrap</a> by <a href="http://d-osin.ru">Dmitry Osin</a>.  &copy; @DateTime.Now.Year </p>
                </div>
            </div>

        </div>

    </div>

</div>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>